@import 'common';

#field_desc {
  font-size: 1.1em;
  & i {
    color: $theme_color;
    opacity: 0.3;
  }
}

#articles_container {
  margin-top: 64px;

  & > div {
    width: 230px;
    margin-right: 20px;
    &:nth-child(4n+4) {
      margin-right: 0;
    }
    &#temp_col {
      display: none;
    }

    & .article {
      border: 1px solid #efefef;
      padding: 20px 20px 12px 20px;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        background-color: #fafafa;
      }
      & .date {
        font-size: 0.9em;
        color: #ababab;
        margin-bottom: 16px;
      }
      & .views {
        font-size: 0.9em;
        color: #ababab;
        position: absolute;
        top: 20px;
        right: 20px;
      }
      & .title {
        margin-bottom: 16px;
      }
    }
  }
}

