@import 'common';

#field_desc {
  font-size: 1.1em;
  & i {
    color: $theme_color;
    opacity: 0.3;
  }
}

#search {
  margin-top: 12px;
  font-size: 1.1em;
  color: #808080;
  line-height: 24px;
  & input {
    border: 1px solid #dedede;
    height: 24px;
    outline: none;
    margin-right: 4px;
    padding: 0 4px;
  }
  & i {
    color: #dedede;
  }
  & #admin_write {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 0.9em;
    cursor: pointer;
    &:hover {
      background-color: #fafafa;
    }
  }
}

#articles_container {
  margin-top: 64px;

  & > div {
    width: 230px;
    margin-right: 20px;
    &:nth-child(4n+4) {
      margin-right: 0;
    }
    &#temp_col {
      display: none;
    }

    & .article {
      border: 1px solid #efefef;
      padding: 20px 20px 12px 20px;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        background-color: #fafafa;
      }
      & .date {
        font-size: 0.9em;
        color: #bfbfbf;
        margin-bottom: 16px;
      }
      & .title {
        margin-bottom: 16px;
      }
    }
  }
}

