$theme_color: #342f81;
$top_bg: #333333;
$top_dark_gray: #222222;

div, span {
  font-family: "Malgun Gothic", Dotum;
}

.on_page_center {
  width: 980px;
  margin: 0 auto;
  min-height: 1000px;
}

.pos_rel {
  position: relative;
}

._float_con {
  overflow: hidden;
  > * {
    float: left;
  }
  > .fl_r {
    float: right;
  }
  &:after {
    clear: both;
  }
}

._c_align {
  text-align: center;
}

._pointer {
  cursor: pointer;
}

#content {
  border-left: 2px solid #efefef;
  border-right: 2px solid #efefef;
  padding: 36px;
}

#pages {
  text-align: center;
  padding: 40px 100px 0 100px;
  & > div {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #efefef;
    border-radius: 15px;
    margin: 2px;
    cursor: pointer;
    &:hover {
      background-color: #efefef;
    }
    &.-on {
      color: white;
      background-color: $theme_color;
      border: 0;
    }
  }
}

#write_form {
  & .input_div {
    height: 40px;
    line-height: 40px;
    & label {
      margin-right: 12px;
    }
    & input {
      width: 600px;
      height: 28px;
      line-height: 28px;
    }
    & span {
      margin-left: 6px;
      opacity: 0.5;
    }
  }
}

#write_button_container {
  margin-top: 12px;
  & > #write_button {
    float: right;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #dedede;
    cursor: pointer;
    &:hover {
      border: 1px solid #cdcdcd;
    }
  }
}

#detail {
  padding: 36px;
  & #title_bar {
    margin-bottom: 20px;
    & #title {
      font-weight: bold;
      font-size: 1.2em;
    }
    & #date {
      opacity: 0.5;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  & #tags {
    margin-bottom: 12px;
  }
  & #detail_content {
    padding: 36px 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
  & #detail_admin {
    text-align: right;
    padding-top: 24px;
  }
}

.edit_button {
  display: inline-block;
  padding: 8px 12px;
  margin-left: 4px;
  border: 1px solid #dedede;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    border: 1px solid #cdcdcd;
  }
  & i {
    opacity: 0.5;
  }
}

.tag {
  display: inline-block;
  font-size: 0.8em;
  margin: 2px;
  padding: 4px;
  border: 1px solid #dedede;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  & i {
    color: $theme_color;
  }
}
