$theme_color: #342f81;
$top_bg: #333333;
$top_dark_gray: #222222;

div, span {
  font-family: "Malgun Gothic", Dotum;
}

.on_page_center {
  width: 980px;
  margin: 0 auto;
  min-height: 1000px;
}

.pos_rel {
  position: relative;
}

._float_con {
  overflow: hidden;
  > * {
    float: left;
  }
  > .fl_r {
    float: right;
  }
  &:after {
    clear: both;
  }
}

._c_align {
  text-align: center;
}

._pointer {
  cursor: pointer;
}

#content {
  border-left: 2px solid #efefef;
  border-right: 2px solid #efefef;
  padding: 36px;
}

#pages {
  text-align: center;
  padding: 40px 100px 0 100px;
  & > div {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #efefef;
    border-radius: 15px;
    margin: 2px;
    cursor: pointer;
    &:hover {
      background-color: #efefef;
    }
    &.-on {
      color: white;
      background-color: $theme_color;
      border: 0;
    }
  }
}
