<app-top></app-top>

<div id="content" class="on_page_center pos_rel">
  <app-left-wing></app-left-wing>
  <app-right-wing></app-right-wing>

  <form method="post" id="write_form">

    <div class="input_div">
      <label>제목</label><input #titleInput (change)="setTitle(titleInput.value)" value="{{title}}" type="text" maxlength="35"/>
    </div>
    <div class="input_div">
      <label>태그</label><input #tagsInput (change)="setTags(tagsInput.value)" value="{{tags}}" type="text" maxlength="20"/>
      <span>스페이스로 구분하여 입력</span>
    </div>
    <br>

    <textarea id="content_editor">
    </textarea>
    <input name="image" type="file" id="image-upload" (change)="sendImage()" hidden>
    <input name="image" type="file" id="file-upload" (change)="sendFile()" hidden>

    <div id="write_button_container" class="_float_con">
      <div id="write_button" (click)="submit()">작성완료</div>
    </div>
  </form>

  <app-footer (login_status_output)="getLoginStatus($event)" (login_result_output)="getLoginResult($event)"></app-footer>
</div>
