<div id="footer">
  세무법인 포유 포항지점 | 대표자명: 윤진석, 송철한 | 주소: [791-130] 경북 포항시 북구 중앙로 342-1(덕수동) 3F<br>
  TEL: 054)241-2442 | FAX: 054)241-2443 | EMAIL: yjs0207@naver.com | Copyright All rights reserved<br>
  <br>
  <span *ngIf="login_status==NOT_LOGGED_IN" (click)="show_login_interface()" id="login_btn">
    <i class="fa fa-key" aria-hidden="true"></i>
    관리자 로그인
  </span>
  <span *ngIf="login_status==LOGGING_IN">
    ID:
    <input #userId type="text" (keyup)="setUserId(userId.value)">
    PW:
    <input #password type="password" (keyup)="setPassword(password.value)">
    <span class="button" (click)="login()">확인</span>
    <span (click)="this.cancel_logging_in()" class="button">취소</span>
  </span>
  <span *ngIf="login_status==LOGGED_IN">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    <span class="button" (click)="logout()">로그아웃</span>
    <i class="fa fa-key" aria-hidden="true"></i>
    <span class="button" (click)="toChangingPw()">비밀번호 변경</span>
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <span class="button" (click)="toAddingAdmin()">관리자 추가</span>
  </span>
  <span *ngIf="login_status==CHANGING_PW">
    <label>현재 비밀번호:</label>
    <input type="password" #cpv0Input value="{{changePwVals[0]}}" (change)="setChangePwVals(0, cpv0Input.value)">
    <label>새 비밀번호:</label>
    <input type="password" #cpv1Input value="{{changePwVals[1]}}" (change)="setChangePwVals(1, cpv1Input.value)">
    <label>새 비밀번호 확인:</label>
    <input type="password" #cpv2Input value="{{changePwVals[2]}}" (change)="setChangePwVals(2, cpv2Input.value)">
    <span class="button" (click)="changePw()">확인</span>
    <span (click)="toLoggedIn()" class="button">취소</span>
  </span>
  <span *ngIf="login_status==ADDING_ADMIN">
    <label>아이디:</label>
    <input type="text" maxlength="20" #auv0Input value="{{addUserVals[0]}}" (change)="setAddUserVals(0, auv0Input.value)">
    <label>이름:</label>
    <input type="text" maxlength="20" #auv1Input value="{{addUserVals[1]}}" (change)="setAddUserVals(1, auv1Input.value)">
    <label>직함:</label>
    <input type="text" maxlength="20" #auv2Input value="{{addUserVals[2]}}" (change)="setAddUserVals(2, auv2Input.value)">
    <label>비밀번호:</label>
    <input type="password" #auv3Input value="{{addUserVals[3]}}" (change)="setAddUserVals(3, auv3Input.value)">
    <label>비밀번호 확인:</label>
    <input type="password" #auv4Input value="{{addUserVals[4]}}" (change)="setAddUserVals(4, auv4Input.value)">
    <span class="button" (click)="addAdmin()">확인</span>
    <span (click)="toLoggedIn()" class="button">취소</span>
  </span>
</div>
