<app-top></app-top>

<div id="content" class="on_page_center pos_rel">
  <left_wing></left_wing>
  <right_wing></right_wing>

  <app-sub-menu [menuIdx]="menuIdx" [subMenuIdx]="subMenuIdx"></app-sub-menu>

  <div id="field_desc">
    <div *ngFor="let desc of field_descs[subMenuIdx]">
      <i class="fa fa-check-square-o" aria-hidden="true"></i> {{desc}}
      <br>
    </div>
  </div>

  <div id="search_and_write" class="pos_rel">
    <input #search type="text" (keyup)="searchWordEnter(search.value, $event)"/>
    <i id="search_icon" class="fa fa-search" aria-hidden="true" (click)="searchWord(search.value, $event)"></i>
    <div *ngIf="login_status == LOGGED_IN" id="admin_write" (click)="goToWritePage(submenu)">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      관리자 글쓰기
    </div>
  </div>
  <div id="articles_container" class="_float_con">
    <div id="articles_col_0">

    </div>
    <div id="articles_col_1">
    </div>
    <div id="articles_col_2">
    </div>
    <div id="articles_col_3">
    </div>
    <div id="temp_col">
      <div class="article pos_rel" *ngFor="let article of articles" (click)="toDetail(article['fields.id'])">
        <div class="date">
          {{article['fields.modified'].split(' ')[0]}}
        </div>
        <div class="views">
          조회수: {{article['fields.views']}}
        </div>
        <div class="title">
          {{article['fields.title']}}
        </div>
        <div class="tag"
             *ngFor="let tag of article['tagsArray']"
             (click)="searchWord(tag, $event)"
        ><i class="fa fa-tag" aria-hidden="true"></i> {{tag}}</div>
      </div>
    </div>
  </div>

  <div id="pages">
    <div *ngFor="let pageNo of pages" ngClass="{{page + 1 == pageNo ? '-on' : ''}}"
         (click)="moveToPage(pageNo)">{{pageNo}}</div>
  </div>

  <app-footer (login_status_output)="getLoginStatus($event)" (login_result_output)="getLoginResult($event)"></app-footer>
</div>
